@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>FaceRecognizer</title>
</head>
<body>
    <br>
    <h1> Hello everyone </h1>
    <p> This site is working for face and eyes recognition on images. It's an application on asp.net, mvc and Emgu cv. Was created by dawgwelder. </p>
</body>
</html>
