@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

!DOCTYPE html>
<html>
<head>
    <title>FaceRecognizer</title>
</head>
<body>
    <h1> Contacts </h1>
    <p> You can contact me with this email : dawgwelder@gmail.com </p>
</body>
</html>
