@{
   
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebImage photo = null;
    var filename = "";
     var imagePath = "";

  if (IsPost)
  {
      photo = WebImage.GetImageFromRequest();
      if (photo != null)
      {
          filename =
              Path.GetFileName(photo.FileName);
          imagePath = @"images\" + filename;
      }
  }

} 
<!DOCTYPE html>
<html>
<head>
    <title>FaceRecognizer</title>
</head>
<body> 
    <br>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
{
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Upload">Image</label>
            <input type="file" name="upload" />
            <input type="submit" value="Upload" class="btn btn-default" />
        </fieldset>
    }
    @if (ViewBag.PicPath != null)
    {
        <h1>Uploaded Image</h1>
        <div class="result">
            <img src="@Url.Content(ViewBag.PicPath)" alt="image" />
        </div>
    }
</body>
</html>