body {
    padding-top : 40px !important ;
    min-height : 100%;
        position : relative
}
html {
    min-height : 100%;
    position : relative;
}
.navbar .navbar-collapse { position: relative; }